

/* --- Global styles --- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-txt-disabled: #656F6D;

    --font-logo: 'Raleway', sans-serif;
    --font-main: 'Roboto', sans-serif;
    --time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto'
}

header {
    display: flex;

    margin: 0;
    padding: 24px 0;

    height: 80px;

    background: #323232; 
    
}

.lang-options {
    display: flex;

    list-style-type: none;
    color: var(--clr-txt-disabled);

}